/*  your css code here. If applicable */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}
#verification_heading,
#verification_subtext {
  text-align: center;
}
#verification_subtext {
  color: grey;
}
.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.code {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
